@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.nav{
  margin-left: 220px;
  margin-right: 220px;
  display: flex;
  justify-content: center;
  padding-bottom: : 50px;
}

.nav a{
  padding: 15px;
  color: #FFD2F9;
  background-color: #2EC8E0;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  text-align: center;
  border-bottom: 1px;
  border-top: 1px;
  border-left: .6px;
  border-right: .6px;
  border-style: solid;
  border-color: black;
  width: 100px;
}

header{
  margin-bottom: 20px;
}

body{
  background: #D5E6EE;
}

a:hover{
  background: #3B9CB0;
}

.center{
  text-align: center;
}

.nav .current{
  background: #1C7887;
}

img.logo_image{
  width: 25vw;
  display: block;
  margin: 0 auto;
  padding: 25px;
}

img.character{
  width: 260px;
  height: 100%;
  margin-right: 25px;
  border: 5px;
  border-radius: 5px;
  border-color: #F5F5C7;
  border-style: solid;
}

div.character_container{
  display: flex;
  flex-flow: nowrap;
  align-content: center;
  align-self: center;
  padding: 15px;
}

div.character_container div h1{
  margin-bottom: 15px;
}

img.button{
  width: 20vw;
}

a.skip{
  position: relative;
  left: -350px;
}

a.skip:focus{
	left: 10px;
	border: 2px solid black;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  font-size: 52px;
  color: #B0F8B4;
  -webkit-text-stroke: .5px black;
}

footer{
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  color: #FFD2F9;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  -webkit-text-stroke: .5px black;
  word-spacing: 3px;
}

main.home{
  margin-left: 90px;
  margin-right: 90px;
  text-align: center;
}

.reocurring{
  text-align: center;
  font-size: 54px;
}

div.quote_container{
  padding-left: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 270px 730px;
}

div.randomquote{
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  color: #72F27A;
  -webkit-text-stroke: 1px black;
}

.quotes{
  align-content: center;
  background: rgba(200, 250, 250, 0.8);
  border-top: 5px;
  border-bottom: 5px; 
  border-color: #F5F5C7;
  border-style: solid;
}

li{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  border-bottom: 5px;
  border-style: dashed;
  border-color: #FFD2F9;
  padding: 30px;
}

.quote_container button{
  background-color: #B0F8B4;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: #54c08b;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 26px;
}

.play {
  position: relative;
  width: 50%;
}

.play img {
  width: 90%;
  height: auto;
}

.play .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  opacity: 0;
  width: 170px;
  height: 210px;
}

.tp{
  background: rgba(200, 250, 250, 0.8);
  border: 5px;
  border-radius: 5px;
  border-color: #F5F5C7;
  border-style: solid;
  padding-right: 5px;
  padding-left: 8px;
}

.banner{
  background: rgba(200, 250, 250, 0.8);
  border-top: 5px;
  border-bottom: 5px;
  border-color: #F5F5C7;
  border-style: solid;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.welcome{
  text-align: center;
}

@media (max-width: 980px){
  .nav a{
    color: #FFD2F9;
    background-color: #2EC8E0;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 44px;
    text-align: center;
    border-bottom: 1px;
    border-top: 1px;
    border-left: .5px;
    border-right: .5px;
    border-style: solid;
    border-color: black;
    width: 220px;
    height: 40px;
  }

  div.character_container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
  }

  img.character{
    width: auto;
    height: 50vw; 
    margin-bottom: 25px;
    border: 5px;
    border-radius: 5px;
    border-color: #F5F5C7;
    border-style: solid;
  }

  div.theme-container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  body{
    background-image: url("../images/bg2.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    line-height: 1.3;
  }

  body.blur{
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1.3;
  }

  .logo-image{
    width: 60vw;
    padding: 80px;
  }

  .play .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0;
    width: 160px;
    height: 220px;
  }
}

@media (min-width: 981px){
  div.theme-container{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
  }

  body{
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1.3;
  }

  body.blur{
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1.3;
  }

  .logo-image{
    width: 30vw;
  }

  .play:hover{
    width: 60%;
  }
}